.SubmitButton{
    border-radius: 10px;
    background-color: white;
    color: #696969;
    border: 2px solid #679AE8; /* Green */
    font-size: 17px;
    margin:5px;
}

.chartjs-render-monitor {
    width: 85%!important;
    margin: 0 auto;

}

